## TASK_2 STRING METHODS

#### 1. capitalize() : 	Converts the first character of the word to upper case

In [114]:
str1 = "divya umredkar"
result = str1.capitalize()
print(result)

Divya umredkar

In [116]:
str2 = "jupyter notebook"
result = str2.capitalize()
print(result)

Jupyter notebook

#### 2. casefold() : Converts string into lower case

In [119]:
str1 = "DATA ANALYTICS"
result = str1.casefold()
print(result)

data analytics

In [121]:
str2 = "Python"
result = str2.casefold()
print(result)

python

#### 3. center() : Returns a centered string

In [124]:
str1 = "TASK_2"
result = str1.center(32)  
print(f"'{result}'")

'             TASK_2             '

In [126]:
str2 = "DA9"
result = str2.center(20, '*')
print(f"'{result}'")

'********DA9*********'

#### 4. count() : Returns the number of times a specified value occurs in a string

In [129]:
str1 = ['divya', 'riya', 'divya', 'riya', 'divya']
result = str1.count('divya')
print(result)

3

In [131]:
str2 = "my name is divya umredkar"
result = str2.count('a')
print(result)

3

#### 5. encode() : Returns an encoded version of the string

In [133]:
str1 = "ARC Insititue"
result = str1.encode()
print(result)

b'ARC Insititue'

In [135]:
str2 = "python"
result = str2.encode()
print(result)

b'python'

#### 6. endswith() : Returns true if the string ends with the specified value

In [137]:
str1 = "Who are you"
result = str1.endswith("?")
print(result)

False

In [139]:
str2 = "I love this song!"
result = str2.endswith("!")
print(result)

True

#### 7. expandtabs() : Sets the tab size to the specified number of whitespaces

In [142]:
str1 = "H\tE\tL\tL\tO"
result = str1.expandtabs(1)
print(result)

H E L L O

In [144]:
str2 = "p\ty\tt\th\to\tn"
result = str2.expandtabs(4)
print(result)

p   y   t   h   o   n

#### 8. find() : Searches the string for a specified value and returns the position of where it was found

In [147]:
str1 = "What a beautiful sunset!"
result = str1.find('!')
print(result)

23

In [149]:
str1 = "ARC DA-9"
result = str1.find('DA')
print(result)

4

#### 9. format() : Formats the specified value(s) and insert them inside the string's placeholder

In [152]:
str1 = "What an {}"
result = str1.format("idea!")
print(result)

What an idea!

In [154]:
str2 = "My age is {}"
result = str2.format(22)
print(result)

My age is 22

#### 10. format_map() : Formats specified values in a string

In [157]:
str1 = {'firstname':'Divya','lastname':'Umredkar'}
result = '{firstname} {lastname}'.format_map(str1)
print(result)

Divya Umredkar

In [159]:
str2 = {'name':'Divya', 'age':'22'} 
result = "My name is {name} and I am {age} years old.".format_map(str2)
print(result)

My name is Divya and I am 22 years old.

#### 11. index() :  Finds the first occurrence of the specified value

In [162]:
str1 = "Wow, that was amazing!"
result = str1.index('h')
print(result)

6

In [164]:
str2 = "Happy Birthday my friend"
result = str2.index('my')
print(result)

15

#### 12. isalnum() : Returns True if all characters in the string are alphanumeric

In [167]:
str1 = "Divya04"
result = str1.isalnum()
print(result)

True

In [169]:
str2 = "abc1@gmail.com"
result = str2.isalnum()
print(result)

False

#### 13. isalpha() : Returns True if all characters in the string are in the alphabet

In [172]:
str1 = "DA9"
result = str1.isalpha()
print(result)

False

In [174]:
str2 = "Jupyter"
result = str2.isalpha()
print(result)

True

#### 14. isascii() : Returns True if all characters in the string are ascii characters

In [177]:
str1 = "Power BI"
result = str1.isascii()
print(result)

True

In [179]:
str2 = "Task_2"
result = str2.isalpha()
print(result)

False

#### 15. isdecimal() : Returns True if all the characters are decimals (0-9)

In [182]:
str1 = "@1234"
result = str1.isdecimal()
print(result)

False

In [184]:
str2 = "123456789"
result = str2.isdecimal()
print(result)

True

#### 16. isdigit() : Returns True if all the characters are digits, otherwise False

In [187]:
str1 = "2-6"
result = str1.isdigit()
print(result)

False

In [189]:
str2 = "7517274"
result = str2.isdigit()
print(result)

True

#### 17. isidentifier() : Returns True if the string is a valid identifier, otherwise False

In [192]:
str1 = "one_1"
result = str1.isidentifier()
print(result)

True

In [194]:
str2 = "Class Timing 6pm"
result = str2.isidentifier()
print(result)

False

#### 18. islower() : Returns True if all characters in the string are lower case

In [197]:
str1 = "jupyter notebook"
result = str1.islower()
print(result)

True

In [199]:
str2 = "jUpYter Notebook "
result = str2.islower()
print(result)

False

#### 19. isnumeric() : Returns True if all the characters are numeric (0-9), otherwise False

In [202]:
str1 = "9876"
result = str1.isnumeric()
print(result)

True

In [204]:
str2 = "-23ab899"
result = str2.isnumeric()
print(result)

False

#### 20. isprintable() : Returns True if all the characters are printable, otherwise False

In [207]:
str1 = "How are you?"
result = str1.isprintable()
print(result)

True

In [209]:
str2 = "Hello! \n"
result = str2.isprintable()
print(result)

False

#### 21. isspace() : Returns True if all the characters in a string are whitespaces, otherwise False

In [212]:
str1 = "     "
result = str1.isspace()
print(result)

True

In [214]:
str2 = "     D     "
result = str2.isspace()
print(result)

False

#### 22. istitle() : Returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False

In [217]:
str1 = "Welcome To My World!"
result = str1.istitle()
print(result)

True

In [219]:
str2 = "ARC institution"
result = str2.istitle()
print(result)

False

#### 23. isupper() : Returns True if all the characters are in upper case, otherwise False

In [222]:
str1 = "My Name is Divya"
result = str1.isupper()
print(result)

False

In [224]:
str2 = "MY NAME IS DIVYA"
result = str2.isupper()
print(result)

True

#### 24. join() : Converts the elements of an iterable into a string

In [227]:
str1 = ("apple","mango", "banana")
result = "_".join(str1)
print(result)

apple_mango_banana

In [229]:
str2 = ['P', 'Y', 'T', 'H', 'O', 'N']
result = "".join(str2)
print(result)

PYTHON

#### 25. ljust() : Returns a left justified version of the string

In [232]:
str1 = 'Arc'
result = str1.ljust(5)
print(result, 'Data Analytics')

Arc   Data Analytics

In [234]:
str2 = "Divya"
result = str2.ljust(6,'_')
print(result)

Divya_

#### 26. lower() : Returns a string where all characters are lower case

In [237]:
str1 = "Jupyter Notebook"
result = str1.lower()
print(result)

jupyter notebook

In [239]:
str2 = "PyThOn"
result = str2.lower()
print(result)

python

#### 27. lstrip() : Removes any leading characters (space is the default leading character to remove)

In [242]:
str1 = "         mango"
result = str1.lstrip()
print( result, "is king of fruits")

mango is king of fruits

In [244]:
str2 = "...--PROGRAMMING"
result = str2.lstrip(".-")
print(result)

PROGRAMMING

#### 28. maketrans() : Returns a translation table to be used in translations

In [246]:
str1 = str.maketrans("abc", "123", "xyz")
text = "abcxyz"
result = text.translate(str1)
print(result)

123

In [248]:
result = str2.maketrans({"a": "1", "b": "2", "c": "3"})
print(result)

{97: '1', 98: '2', 99: '3'}

#### 29. partition() : Returns a tuple where the string is parted into three parts

In [251]:
str1 = "Python SQL Excel"
result = str1.partition("SQL")
print(result)

('Python ', 'SQL', ' Excel')

In [253]:
str2 = "My class starts at 5:00"
result = str2.partition("starts at")
print(result)

('My class ', 'starts at', ' 5:00')

#### 30. replace() : Returns a string where a specified value is replaced with a specified value

In [256]:
str1 = 'SQL language'
result = str1.replace('SQL','Python')
print(result)

Python language

In [258]:
str2 = "jupyter notebook"
result = str2.replace("e", "E")
print(result)

jupytEr notEbook

#### 31. rfind() : Searches the string for a specified value and returns the last position of where it was found

In [261]:
str1 = "Mi casa, su casa."
result = str1.rfind("casa")
print(result)

12

In [263]:
str2 = "My name is Divya"
result = str2.rfind("from")
print(result)

-1

#### 32. rindex() : Searches the string for a specified value and returns the last position of where it was found

In [266]:
str1 = "Hello, Python"
result = str1.rindex("y")
print(result)

8

In [274]:
str2 = "Python is fun, and learning Python is great!"
result = str2.rindex("is", 0, 20)
print(result)

7

#### 33. rjust() : Returns a right justified version of the string

In [269]:
str1 = "DIVYA"
result = str1.rjust(20,"*")
print(result)

***************DIVYA

In [271]:
str2 = "12"
result = str2.rjust(4, '0')
print(result)

0012

#### 34. rpartition() : Returns a tuple where the string is parted into three parts

In [278]:
str1 = "Welcome to ARC Institute"
result = str1.rpartition("ARC")
print(result)

('Welcome to ', 'ARC', ' Institute')

In [276]:
str2 = "My name is divya, divya live in nagpur"
result = str2.rpartition("divya")
print(result)

('My name is divya, ', 'divya', ' live in nagpur')

#### 35. rsplit() : Splits the string at the specified separator, and returns a list

In [281]:
str1 = "Mumbai,Pune,Nagpur,Delhi"
result = str1.rsplit(",")
print(result)

['Mumbai', 'Pune', 'Nagpur', 'Delhi']

In [283]:
str2 = "divya,riya,aarti"
result = str2.rsplit(",",1)
print(result)

['divya,riya', 'aarti']

#### 36. rstrip() : Returns a right trim version of the string

In [291]:
str1 = "         ARC            "
result = str1.rstrip()
print(f"'{result}'")

'         ARC'

In [295]:
str2 = "_____******DA9******_____"
result = str2.rstrip("_*")
print(result)

_____******DA9

#### 37. split() : Splits the string at the specified separator, and returns a list

In [302]:
str1 = "ARC Institution data analytic DA9"
result = str1.split()
print(result)

['ARC', 'Institution', 'data', 'analytic', 'DA9']

In [304]:
str2 = "Excel SQL python jupyter notebook"
result = str2.split(" ", 2)
print(result)

['Excel', 'SQL', 'python jupyter notebook']

#### 38. splitlines() : Splits the string at line breaks and returns a list

In [309]:
str1 = "Python\njupyter notebook"
result = str1.splitlines()
print(result)

['Python', 'jupyter notebook']

In [317]:
str2 = "apple\nbanana\nmango"
result = str2.splitlines(True)
print(result)

['apple\n', 'banana\n', 'mango']

#### 39. startswith() : Returns true if the string starts with the specified value

In [322]:
str1 = "Class timming 5:00"
result = str1.startswith("Class")
print(result)

True

In [324]:
str2 = "Class timming 5:00"
result = str2.startswith("College")
print(result)

False

#### 40. swapcase() : Swaps cases, lower case becomes upper case and vice versa

In [327]:
str1 = "ARC Institution DA9"
result = str1.swapcase()
print(result)

arc iNSTITUTION da9

In [329]:
str2 = "Divya Umredkar"
result = str2.swapcase()
print(result)

dIVYA uMREDKAR

#### 41. title() : Converts the first character of each word to upper case

In [338]:
str1 = "my name iS divya umREDKAR"
result = str1.title()
print(result)

My Name Is Divya Umredkar

In [340]:
str2 = "jupyter notEBook"
result = str2.title()
print(result)

Jupyter Notebook

#### 42. translate() : Returns a translated string

In [349]:
str1 = "My Brother"
result = str.maketrans("B", "M")
print(str1.translate(result))

My Mrother

#### 43. upper() : Converts a string into upper case

In [352]:
str1 = "divya umredkar"
result = str1.upper()
print(result)

DIVYA UMREDKAR

In [354]:
str2 = "arc da9"
result = str2.upper()
print(result)

ARC DA9

#### 44. zfill() : Fills the string with a specified number of 0 values at the beginning

In [362]:
str1 = "-50"
result = str1.zfill(10)
print(result)

-000000050

In [364]:
str2 = "DA9"
result = str2.zfill(8)
print(result)

00000DA9